# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Model artefacts
app/models/*.joblib
app/models/*.pkl
app/models/*.sav

# Data processed
data/processed/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/
